body {
  margin: 0;
  font-family: sans-serif;
  background-image: url('./images/sw-bg.jpg');
  background-size: cover;
  box-sizing: border-box;
  padding-top: 30px;
}

h1 {
  text-align: center;
}

th {
  text-align: left;
  padding-right: 20px;
}